*.*
!*.cpp
!*.cxx
!*.H
!*.h
!*.hpp
!*.c
!*.dll
!*.sln
!*.vcxproj
!*.suo
!*.lib
!*.jfx
!*.frag
!*.vert
!*.cub
!*.cube
!*.tga
!*.kdev*
!*.in
!*.am
!*.sh
!*.sub
!*.m4
!*.cvs
!*.guess
!depends.*
!*.odt
!*.zip
!*.tar
!*.tar.gz
!*.fl
!*.md
!*.txt
!*.cmake
!CMakeLists.txt
